.col-md-4 {
    text-align: center;
     padding-top: 200px;
    border: 5px solid black;
    border-radius: 600px;
    padding: 50px;
    width: 700px;
    height: 600px;
    transform: translate(230%,5%);
    
}
body{
    #padding-top: ;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/3184460/pexels-photo-3184460.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-repeat: no-repeat;
	background-size: auto;
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    #width: 1000%;
	transform: translate(-10%,50s%);
   
}
table{
    color:#333;
    #background-color: aliceblue;
    align-items: center;
    width:20%;
	transform: translate(-10%,50%);
}